{sub_dirs, ["rel"]}.
{deps, [
    {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", "master"}},
    {log4erl, ".*", {git, "https://github.com/ahmednawras/log4erl.git", "master"}},
    {misultin, ".*", {git, "https://github.com/ostinelli/misultin.git", "master"}},
    {erlsom, ".*", {git, "https://github.com/willemdj/erlsom.git", "master"}},
    {detergent, ".*", {git, "https://github.com/devinus/detergent.git", "master"}},
    {smpp34pdu, ".*", {git, "https://github.com/essiene/smpp34pdu.git", "dev"}},
    {smpp34, ".*", {git, "https://github.com/essiene/smpp34.git", "dev"}},
    {mmynlib, ".*", {git, "https://github.com/essiene/mmynlib.git", "master"}},
    {mmynapi, ".*", {git, "https://github.com/essiene/mmynapi.git", "master"}}
    ]
}.
