[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]},


%% SIM Reg
 {simreg, [
        % Webservice
         {listen, "0.0.0.0"},
         {port, 11581},
         {listen_backlog, 30},

         % SMSC 
         {smsc_username, "mmayen"},
         {smsc_password, "mmayen"},
         {smsc_host, "localhost"},
         {smsc_port, 10000},

         % backoff
         {backoff_store, "log/backoff.str"},


         % transmitters

         {tx_nanny_num_children, 2},

         % min: 10s, max: 10mins, delta: 1s         
         {tx_nanny_backoff, {10000, 60000, 1000}},

         % min: 500ms max: 30 mins, delta: 100ms
         {esmetx_backoff, {500, 180000, 100}},

         % receivers

         {rx_nanny_num_children, 2},

         % min: 10s, max: 10mins, delta: 1s         
         {rx_nanny_backoff, {10000, 60000, 1000}}


         ]}
].

