[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]},


%% SIM Reg
 {simreg, [
        % Webservice
         {listen, "0.0.0.0"},
         {port, 11581},
         {listen_backlog, 30},

         % SMSC 
         {smsc_username, "mmayen"},
         {smsc_password, "mmayen"},
         {smsc_host, "localhost"},
         {smsc_port, 10000},

         % backoff
         {backoff_store, "log/backoff.str"},


         % transmitters

         {tx_nanny_num_children, 2},

         % min: 10s, max: 10mins, delta: 1s         
         {tx_nanny_backoff, {10000, 60000, 1000}},

         % min: 500ms max: 30 mins, delta: 100ms
         {esmetx_backoff, {500, 180000, 100}},

         % receivers

         {rx_nanny_num_children, 2},

         % min: 10s, max: 10mins, delta: 1s         
         {rx_nanny_backoff, {10000, 60000, 1000}},

         % PUK

         {soap_url_puk, "http://10.1.205.34:5003/SystemSV/GetProdInstDetails"},
         {soap_url_reg, "http://10.1.230.100:5013/SystemCISExtension/SystemCISExtension"},


         % Messages

         {msg_puk_put, "Your PUK Code has now been updated.  You will be notified after processing has been re-tried. Thank you"},
         {msg_puk_get, "Dear customer, your PUK Code is ~s"},
         {msg_reg_get_ok, "~s has been registered. Thank you!"},
         {msg_reg_get_fail, "~s has not been registered. Please visit the nearest MTN SIM registration point and register your SIM today.  Thank you!"},
         {msg_reg_get_pending, "Registration is pending for ~s. Please call 180 for more information. Thank you!"} 
         ]}
].

