{sys, [
       {lib_dirs, ["../../"]},
       {rel, "simreg", "1",
        [
         kernel,
         stdlib,
         sasl,
         {log4erl, permanent},
         {ibrowse, permanent},
         {erlsom, none},
         {misultin, none},
         {mmayen, none},
         {simreg, permanent}
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "simreg"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, simreg, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{rebar, [
         {empty_dirs, [
                       "log/sasl"
                      ]},

         {overlay, "overlay"}
         ]}.
