{sys, [
       {lib_dirs, ["../../"]},
       {rel, "simreg", "1",
        [
         kernel,
         stdlib,
         sasl,
         erlsom,
         misultin,
         smpp34pdu,
         ibrowse,
         log4erl,
         smpp34,
         simreg
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "simreg"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, simreg, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "simreg"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/beam", "{{erts_vsn}}/bin/beam"},
           {copy, "files/beam.smp", "{{erts_vsn}}/bin/beam.smp"},
           {copy, "files/child_setup", "{{erts_vsn}}/bin/child_setup"},
           {copy, "files/epmd", "{{erts_vsn}}/bin/epmd"},
           {copy, "files/erlc", "{{erts_vsn}}/bin/erlc"},
           {copy, "files/erlexec", "{{erts_vsn}}/bin/erlexec"},
           {copy, "files/escript", "{{erts_vsn}}/bin/escript"},
           {copy, "files/heart", "{{erts_vsn}}/bin/heart"},
           {copy, "files/inet_gethost", "{{erts_vsn}}/bin/inet_gethost"},
           {copy, "files/run_erl", "{{erts_vsn}}/bin/run_erl"},
           {copy, "files/to_erl", "{{erts_vsn}}/bin/to_erl"},
           {copy, "files/simreg", "bin/simreg"},
           {copy, "files/txstat", "bin/txstat"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
