{sys, [
       {lib_dirs, ["deps"]},
       {rel, "mmyn", "1",
        [
         kernel,
         stdlib,
         sasl,
         erlsom,
         misultin,
         smpp34pdu,
         detergent,
         mmynlib,
         ibrowse,
         log4erl,
         smpp34,
         mmyn
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "mmyn"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, mmyn, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "mmyn"}.

{overlay, [
           {mkdir, "log/sasl"},
           {mkdir, "var/www"},
           {copy, "files/mmyn-2.0.wsdl", "var/www/mmyn-2.0.wsdl"},
           {copy, "files/notify-2.0.wsdl", "var/www/notify-2.0.wsdl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/mmyn", "bin/mmyn"},
           {copy, "files/mmyn.bat", "bin/mmyn.bat"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
