[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 20485760},   % 20 MB max file size
         {error_logger_mf_maxfiles, 30}           % 30 files max
         ]},


%% SIM Reg
 {simreg, [
        % Webservice
         {listen, "0.0.0.0"},
         {port, 11581},
         {listen_backlog, 30},

         % SMSC 

         {smsc_username, "cisaccount"},
         {smsc_password, "cisa"},
         {smsc_host, "10.200.213.4"},
         {smsc_port, 10000},

         % ESME Logging
         {esme_logdir, "log"},
         {esme_logsize, 102400},
         {esme_logkeep, 5},
         {esme_loglevel, warn},

         % transaction logging
         {tlog_binlog, "log/tlog.bin"},
         {tlog_logdir, "log"},
         {tlog_logsize, 20485760},
         {tlog_logkeep, 10},

         % txqueue logging
         {qlog_logdir, "log"},
         {qlog_logsize, 20485760},
         {qlog_logkeep, 10},

         % external system logging
         {ext_logdir, "log"},
         {ext_logsize, 100000},
         {ext_logkeep, 5},

         % transmitters

         {tx_nanny_num_children, 2},

         % min: 10s, max: 10mins, delta: 1s         
         {tx_nanny_backoff, {10000, 60000, 1000}},

         % min: 500ms max: 30 mins, delta: 100ms
         {esmetx_backoff, {500, 180000, 100}},

         % receivers

         {rx_nanny_num_children, 2},

         % min: 10s, max: 10mins, delta: 1s         
         {rx_nanny_backoff, {10000, 60000, 1000}},

         % PUK

         % production {soap_url_puk, "http://10.1.205.34:5003/SystemSV/GetProdInstDetails"},
         {soap_url_puk, "http://10.1.208.18:5003/IS/MTNN/OSB/SV/ProxyServices/GetProdInstDetailsPS"},

         {soap_url_reg, "http://10.1.230.100:5013/SystemCISExtension/SystemCISExtension"},
         % UAT OSB {soap_url_reg, "http://10.1.208.18:5003/IS/MTNN/OSB/CIS/ProxyServices/SystemCISExtensionPS"},

         % Error Notification
         {notify_msisdns, []},
         {notify_sender, "simerr"},


         % Messages

         {msg_puk, "This service is no longer available as your PUK is no longer required to register your SIM"},
         {msg_reg_get_ok, "~s has been registered. Thank you!"},
         {msg_reg_get_fail, "~s has not been registered. Please visit the nearest MTN SIM registration point and register your SIM today.  Thank you!"},
         {msg_reg_get_pending, "Registration is pending for ~s. Please call 180 for more information. Thank you!"} 
         ]}
].

