[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]},

%% SIM Reg
 {mmyn, [
        % Webservice
         {listen, "0.0.0.0"},
         {port, 11581},
         {listen_backlog, 30},


         % SMS Receiver
         {esmerx_smsc_username, "esme"},
         {esmerx_smsc_password, "esme"},
         {esmerx_smsc_host, "localhost"},
         {esmerx_smsc_port, 2775},
         {rx_nanny_num_children, 2},
         {rx_nanny_backoff, {10000, 60000, 1000}}, % min: 10s, max: 10mins, delta: 1s         
         {rxwkr_nanny_num_children, 4},
         {rxwkr_nanny_backoff, {10000, 60000, 1000}}, % min: 10s, max: 10mins, delta: 1s         
         {rxworker_batch_size, 10},


         % SMS Transmitter
         {esmetx_smsc_username, "mmayen"},
         {esmetx_smsc_password, "mmayen"},
         {esmetx_smsc_host, "localhost"},
         {esmetx_smsc_port, 10000},
         {esmetx_batch_size, 50},
         {tx_nanny_num_children, 2},
         {tx_nanny_backoff, {10000, 60000, 1000}}, % min: 10s, max: 10mins, delta: 1s         

         % ESME Common
         {esme_logdir, "log"},
         {esme_logsize, 102400},
         {esme_logkeep, 10},
         {esme_loglevel, debug},
         {esme_ignore_version, true},

         % transaction logging
         {tlog_binlog, "log/tlog.bin"},
         {tlog_logdir, "log"},
         {tlog_logsize, 1000000},
         {tlog_logkeep, 5},

         % txqueue logging
         {qlog_logdir, "log"},
         {qlog_logsize, 1000000},
         {qlog_logkeep, 5},

         % Error Notification
         {notify_msisdns, ["012345678", "5687891234123"]},
         {notify_sender, "mmyn"},


         % SMS Router Options
         {msg_separators, "\n\t "},

         % SMS Routing Table
         {rtable, 
             [
              {[],
               "789",
               ["reg"],
               "http://example.com/register"},

              {[],
               "123",
               ["hello"],
               {soap, "http://localhost:11581/soap/2.0/notify"}},

              {[],
               "124",
               ["auth"],
               {soap, {"http://localhost:11581/soap/2.0/notify", "User", "Pass"}}},

              {[],
               "33923",
               ["hello"],
               {default_handler,hello}},

              {[],
               "33923",
               ["echo"],
               {default_handler,echo}},

              {[],
               "33923",
               [".vsn"],
               {default_handler,vsn}},

              {[],
               "33923",
               [".err"],
               {default_handler,err_reply}}
            ]}

         ]}
].

